.App {
    text-align: center;
  }
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search-container{
    display: flex;
    flex-direction: column;
  }
  .my-repos{  
    color: navy;
    text-align: justify;
    background-color: rgb(245, 184, 243);
    width: 100%;
    padding: 5%;
  }
 li{
    list-style: none;
    text-align: center;
    position: relative;
  }
  