@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.submit {
  background-color: darkgrey;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overview {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overview-items {
  border: 1px solid black;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
}

.button-google {
  font-family: 'Roboto';
  background-image:url('./image/google.png');
  height: 50px;
  width: 200px;
  margin: 30px;
}
