* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

.input_form {
    display:flex;
    flex-direction: column;
}

div {
    margin: 20px;
}